name: pull_request

on:
  pull_request:
    branches:
      - main

jobs:
  upload-assets:
    runs-on: windows-latest
    steps:
      - name: Checkout repository
        uses: actions/checkout@v4

      - name: Setup PNPM
        uses: pnpm/action-setup@v4

      - name: Install deps
        run: pnpm install

      - name: Build
        run: pnpm run build

      - name: Zip
        shell: powershell
        run: Compress-Archive -Path '.dist' -DestinationPath 'Nautilus.zip'

      - name: Upload build artifacts
        uses: actions/upload-artifact@v4
        with:
          name: Nautilus Build
          path: Nautilus.zip