name: release-please

on:
  push:
    branches:
      - main

permissions:
  contents: write
  pull-requests: write

jobs:
  release-please:
    runs-on: ubuntu-latest
    steps:
      - uses: googleapis/release-please-action@v4
        outputs:
          release_created: ${{ steps.release.outputs.release_created }}
          tag_name: ${{ steps.release.outputs.tag_name }}
          upload_url: ${{ steps.release.outputs.upload_url }}
        with:
          token: ${{ secrets.GITHUB_TOKEN }}
          release-type: node

  upload-assets:
    needs: release-please
    if: ${{ needs.release-please.outputs.release_created }}
    runs-on: ubuntu-latest
    steps:
      - name: Checkout repository
        uses: actions/checkout@v4

      - name: Setup PNPM
        uses: pnpm/action-setup@v4

      - name: Install deps, build and zip
        run: pnpm install
        run: pnpm run build
        run: zip -r Nautilus.zip dist/

      - name: Upload Release Asset
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        run: |
          gh release upload ${{ needs.release-please.outputs.tag_name }} ./Nautilus.zip


